# S12 T02: Tasca de web scraping

 ## Exercise 1

Perform web scraping of a page on the Madrid Stock Exchange (https://www.bolsamadrid.es) using BeautifulSoup and Selenium.

In [3]:
# Importing libraries

import pandas as pd
import requests

### Srcaping with Python

In [4]:
# Getting url

URL = "https://www.bolsamadrid.es/esp/aspx/Mercados/Precios.aspx?indice=ESI100000000&amp;punto=indice"
r = requests.get(URL)

In [5]:
# This parses all the tables in webpages to a list

df_list = pd.read_html(r.text) 
df = df_list[3]
df.head(10)

,Nombre,Últ.,% Dif.,Máx.,Mín.,Volumen,Efectivo (miles €),Fecha,Hora
0,ACCIONA,1571000,-150,1597000,1567000,5.315,83792,02/12/2021,09:45:38
1,ACERINOX,100550,20,100600,98700,107.938,"1.075,78",02/12/2021,09:47:10
2,ACS,213700,-129,214200,211400,57.281,"1.221,23",02/12/2021,09:47:21
3,AENA,1304500,-173,1313500,1299000,8.219,"1.075,52",02/12/2021,09:46:09
4,ALMIRALL,107900,56,108300,106700,53.716,57969,02/12/2021,09:43:03
5,AMADEUS,575800,-144,579400,571800,98.774,"5.690,46",02/12/2021,09:47:07
6,ARCELORMIT.,246500,-16,247200,240350,122.537,"2.986,06",02/12/2021,09:46:42
7,B.SANTANDER,27890,-117,27905,27620,6.189.945,"17.171,44",02/12/2021,09:47:24
8,BA.SABADELL,5976,-57,5992,5900,2.742.539,"1.629,45",02/12/2021,09:47:14
9,BANKINTER,43590,-82,43730,43250,169.616,73868,02/12/2021,09:47:10

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nombre              35 non-null     object
 1   Últ.                35 non-null     int64
 2   % Dif.              35 non-null     int64
 3   Máx.                35 non-null     int64
 4   Mín.                35 non-null     int64
 5   Volumen             35 non-null     object
 6   Efectivo (miles €)  35 non-null     object
 7   Fecha               35 non-null     object
 8   Hora                35 non-null     object
dtypes: int64(4), object(5)
memory usage: 2.6+ KB

In [7]:
# Saving data to csv

df.to_csv('Shares_ibex_v1.csv')

It appears that scraping with Python is very easy and straightforward.

### Scraping with BeautifulSoup

In [8]:
# Importing libraries

from bs4 import BeautifulSoup

In [9]:
# Getting url

URL = "https://www.bolsamadrid.es/esp/aspx/Mercados/Precios.aspx?indice=ESI100000000&amp;punto=indice"
page = requests.get(URL)

In [10]:
# This parses all the tables in webpages to a list

soup = BeautifulSoup(page.content, "html.parser")

In [11]:
# Finding table

desired_table = soup.findAll('table')[4]

In [12]:
# Getting headers

headers = [item.text.strip() for item in desired_table.select('table[width] th')]

In [13]:
headers

['Nombre',
 'Últ.',
 '% Dif.',
 'Máx.',
 'Mín.',
 'Volumen',
 'Efectivo (miles €)',
 'Fecha',
 'Hora']

In [14]:
# Getting values

company = [item.text for item in desired_table.select('table[width] td:nth-of-type(1)')]
last= [item.text for item in desired_table.select('table[width] td:nth-of-type(2)')]
dif= [item.text for item in desired_table.select('table[width] td:nth-of-type(3)')]
max_= [item.text for item in desired_table.select('table[width] td:nth-of-type(4)')]
min_= [item.text for item in desired_table.select('table[width] td:nth-of-type(5)')]
vol= [item.text for item in desired_table.select('table[width] td:nth-of-type(6)')]
efe= [item.text for item in desired_table.select('table[width] td:nth-of-type(7)')]
dat= [item.text for item in desired_table.select('table[width] td:nth-of-type(8)')]
hou= [item.text for item in desired_table.select('table[width] td:nth-of-type(9)')]

In [15]:
# Creating a dataframe

df2 = pd.DataFrame(list(zip(company, last, dif, max_, min_, vol, efe, dat, hou)), columns =['Company', 'Last', '% Dif.','Max','Min','Volumen','000 euros','Date','Hour' ])

In [16]:
df2

,Company,Last,% Dif.,Max,Min,Volumen,000 euros,Date,Hour
0,ACCIONA,"157,1000","-1,50","159,7000","156,7000",5.315,"837,92",02/12/2021,09:45:38
1,ACERINOX,"10,0550","0,20","10,0600","9,8700",107.938,"1.075,78",02/12/2021,09:47:10
2,ACS,"21,3700","-1,29","21,4200","21,1400",57.281,"1.221,23",02/12/2021,09:47:21
3,AENA,"130,4500","-1,73","131,3500","129,9000",8.219,"1.075,52",02/12/2021,09:46:09
4,ALMIRALL,"10,7900","0,56","10,8300","10,6700",53.716,"579,69",02/12/2021,09:43:03
5,AMADEUS,"57,5800","-1,44","57,9400","57,1800",98.774,"5.690,46",02/12/2021,09:47:07
6,ARCELORMIT.,"24,6500","-0,16","24,7200","24,0350",122.537,"2.986,06",02/12/2021,09:46:42
7,B.SANTANDER,"2,7890","-1,17","2,7905","2,7620",6.189.945,"17.171,44",02/12/2021,09:47:24
8,BA.SABADELL,"0,5976","-0,57","0,5992","0,5900",2.742.539,"1.629,45",02/12/2021,09:47:14
9,BANKINTER,"4,3590","-0,82","4,3730","4,3250",169.616,"738,68",02/12/2021,09:47:10
10,BBVA,"4,7605","-1,18","4,7660","4,7200",5.770.861,"27.452,17",02/12/2021,09:47:23
11,CAIXABANK,"2,3030","-0,86","2,3070","2,2760",1.060.312,"2.430,50",02/12/2021,09:47:01
12,CELLNEX,"51,7000","-0,65","52,2000","51,4000",54.830,"2.838,61",02/12/2021,09:47:25
13,CIE AUTOMOT.,"25,3000","0,24","25,3800","24,9000",16.097,"405,99",02/12/2021,09:45:39
14,ENAGAS,"20,0200","-0,89","20,1900","19,9800",58.508,"1.175,15",02/12/2021,09:45:01
15,ENDESA,"19,5700","-2,05","19,8500","19,5250",55.331,"1.088,96",02/12/2021,09:45:42
16,FERROVIAL,"25,6400","0,83","25,6900","25,0800",137.397,"3.492,38",02/12/2021,09:47:11
17,FLUIDRA,"34,2000","-0,29","34,2500","33,8000",26.877,"915,19",02/12/2021,09:46:12
18,GRIFOLS CL.A,"15,7350","-0,79","15,8750","15,6700",102.576,"1.618,60",02/12/2021,09:45:42
19,IAG,"1,5480","-0,51","1,5565","1,5205",3.440.872,"5.288,07",02/12/2021,09:47:01
20,IBERDROLA,"9,8020","-2,56","9,9200","9,7780",1.546.271,"15.213,35",02/12/2021,09:47:24
21,INDITEX,"28,7500","-1,24","28,8300","28,5100",339.329,"9.737,74",02/12/2021,09:47:23
22,INDRA A,"10,1800","-0,20","10,1900","10,1000",64.940,"659,05",02/12/2021,09:46:01
23,INM.COLONIAL,"7,8100","-1,01","7,8750","7,7850",34.365,"269,10",02/12/2021,09:47:04
24,MAPFRE,"1,8240","-0,65","1,8275","1,8105",263.523,"479,47",02/12/2021,09:47:11
25,MELIA HOTELS,"5,6540","-0,28","5,6720","5,5160",180.274,"1.011,41",02/12/2021,09:46:09
26,MERLIN,"9,4960","-1,88","9,6720","9,4700",88.160,"842,52",02/12/2021,09:47:01
27,NATURGY,"24,2500","-1,26","24,4400","24,2000",39.809,"968,73",02/12/2021,09:46:51
28,PHARMA MAR,"56,5200","-1,05","56,7800","56,0400",6.514,"367,12",02/12/2021,09:47:07
29,R.E.C.,"18,4250","-1,50","18,7200","18,3950",94.133,"1.746,66",02/12/2021,09:46:06
30,REPSOL,"10,0680","0,48","10,0800","9,8820",668.788,"6.688,69",02/12/2021,09:47:11
31,SIEMENS GAME,"22,0300","-3,38","22,6000","21,8600",177.369,"3.924,99",02/12/2021,09:47:19
32,SOLARIA,"16,1050","-3,88","16,5000","15,9900",209.077,"3.377,58",02/12/2021,09:44:07
33,TELEFONICA,"3,7390","-2,63","3,7975","3,7350",3.663.462,"13.756,77",02/12/2021,09:47:19
34,VISCOFAN,"56,1500","-0,62","56,3000","55,8500",5.571,"312,78",02/12/2021,09:47:02

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Company    35 non-null     object
 1   Last       35 non-null     object
 2   % Dif.     35 non-null     object
 3   Max        35 non-null     object
 4   Min        35 non-null     object
 5   Volumen    35 non-null     object
 6   000 euros  35 non-null     object
 7   Date       35 non-null     object
 8   Hour       35 non-null     object
dtypes: object(9)
memory usage: 2.6+ KB

In [18]:
# Saving data to csv

df2.to_csv('Shares_ibex_v2.csv')

### Scraping with Selenium

In [19]:
# Importing libraries

from selenium import webdriver
from selenium.webdriver import Chrome
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.select import Select

In [20]:
# Selecting Chrome as a webdriver

driver= webdriver.Chrome()

In [21]:
# Getting url

driver.get("https://www.bolsamadrid.es/esp/aspx/Mercados/Precios.aspx?indice=ESI100000000&amp;punto=indice")

In [22]:
# Setting wait and timeout

driver.implicitly_wait(30)
driver.set_page_load_timeout(50)

In [23]:
# Printing title

print (driver.title)

Bolsa de Madrid

In [24]:
# Getting table

taula= driver.find_elements(By.XPATH,"/html/body/div[1]/table/tbody/tr[4]/td[2]/div[1]/form/div[6]/table")
for value in taula:
    print (value.text)

Nombre Últ. % Dif. Máx. Mín. Volumen Efectivo (miles €) Fecha Hora
ACCIONA 157,1000 -1,50 159,7000 156,7000 5.315 837,92 02/12/2021 09:45:38
ACERINOX 10,0500 0,15 10,0600 9,8700 108.945 1.085,90 02/12/2021 09:48:00
ACS 21,3700 -1,29 21,4200 21,1400 57.281 1.221,23 02/12/2021 09:47:21
AENA 130,4500 -1,73 131,3500 129,9000 8.219 1.075,52 02/12/2021 09:46:09
ALMIRALL 10,7900 0,56 10,8300 10,6700 53.716 579,69 02/12/2021 09:43:03
AMADEUS 57,5800 -1,44 57,9400 57,1800 98.955 5.700,88 02/12/2021 09:47:48
ARCELORMIT. 24,6600 -0,12 24,7200 24,0350 122.801 2.992,57 02/12/2021 09:47:56
B.SANTANDER 2,7855 -1,29 2,7905 2,7620 6.227.744 17.276,85 02/12/2021 09:47:56
BA.SABADELL 0,5964 -0,77 0,5992 0,5900 2.764.420 1.642,50 02/12/2021 09:47:56
BANKINTER 4,3570 -0,86 4,3730 4,3250 171.553 747,12 02/12/2021 09:47:54
BBVA 4,7600 -1,19 4,7660 4,7200 5.799.119 27.586,72 02/12/2021 09:47:53
CAIXABANK 2,3030 -0,86 2,3070 2,2760 1.065.024 2.441,35 02/12/2021 09:47:31
CELLNEX 51,6600 -0,73 52,2000 51,4000 55.096 2.852,35 02/12/2021 09:47:34
CIE AUTOMOT. 25,3000 0,24 25,3800 24,9000 16.097 405,99 02/12/2021 09:45:39
ENAGAS 20,0200 -0,89 20,1900 19,9800 58.508 1.175,15 02/12/2021 09:45:01
ENDESA 19,5700 -2,05 19,8500 19,5250 55.331 1.088,96 02/12/2021 09:45:42
FERROVIAL 25,6600 0,90 25,6900 25,0800 140.250 3.565,60 02/12/2021 09:47:56
FLUIDRA 34,2000 -0,29 34,2500 33,8000 28.262 962,56 02/12/2021 09:47:58
GRIFOLS CL.A 15,7250 -0,85 15,8750 15,6700 103.163 1.627,83 02/12/2021 09:48:00
IAG 1,5475 -0,55 1,5565 1,5205 3.447.973 5.299,06 02/12/2021 09:47:59
IBERDROLA 9,8080 -2,50 9,9200 9,7780 1.548.381 15.234,04 02/12/2021 09:47:57
INDITEX 28,7800 -1,13 28,8300 28,5100 343.260 9.850,82 02/12/2021 09:47:54
INDRA A 10,1800 -0,20 10,1900 10,1000 64.940 659,05 02/12/2021 09:46:01
INM.COLONIAL 7,8200 -0,89 7,8750 7,7850 34.451 269,78 02/12/2021 09:47:38
MAPFRE 1,8255 -0,57 1,8275 1,8105 264.523 481,29 02/12/2021 09:47:42
MELIA HOTELS 5,6420 -0,49 5,6720 5,5160 181.305 1.017,23 02/12/2021 09:47:56
MERLIN 9,4960 -1,88 9,6720 9,4700 88.160 842,52 02/12/2021 09:47:01
NATURGY 24,2500 -1,26 24,4400 24,2000 39.809 968,73 02/12/2021 09:46:51
PHARMA MAR 56,5200 -1,05 56,7800 56,0400 6.514 367,12 02/12/2021 09:47:07
R.E.C. 18,4250 -1,50 18,7200 18,3950 94.133 1.746,66 02/12/2021 09:46:06
REPSOL 10,0600 0,40 10,0800 9,8820 674.265 6.743,82 02/12/2021 09:47:56
SIEMENS GAME 22,0500 -3,29 22,6000 21,8600 178.693 3.954,17 02/12/2021 09:47:33
SOLARIA 16,1400 -3,67 16,5000 15,9900 210.021 3.392,79 02/12/2021 09:47:56
TELEFONICA 3,7380 -2,66 3,7975 3,7350 3.678.216 13.811,93 02/12/2021 09:47:58
VISCOFAN 56,1500 -0,62 56,3000 55,8500 5.874 329,79 02/12/2021 09:47:48

Since this is a string, its not as practical as other methods, so we try another way.

In [25]:
# Finding element bt ID

table = driver.find_element(By.ID,'ctl00_Contenido_tblAcciones')

In [26]:
# Getting columns tags

columns=[]

for element in table.find_elements(By.TAG_NAME,"th"):    
    columns.append(element.text)
    
print(columns)

['Nombre', 'Últ.', '% Dif.', 'Máx.', 'Mín.', 'Volumen', 'Efectivo (miles €)', 'Fecha', 'Hora']

In [27]:
# Getting results

results = []
for element in table.find_elements(By.TAG_NAME,"td"): 
    results.append(element.text)    
print(results)

['ACCIONA', '157,1000', '-1,50', '159,7000', '156,7000', '5.315', '837,92', '02/12/2021', '09:45:38', 'ACERINOX', '10,0500', '0,15', '10,0600', '9,8700', '108.945', '1.085,90', '02/12/2021', '09:48:00', 'ACS', '21,3700', '-1,29', '21,4200', '21,1400', '57.281', '1.221,23', '02/12/2021', '09:47:21', 'AENA', '130,4500', '-1,73', '131,3500', '129,9000', '8.219', '1.075,52', '02/12/2021', '09:46:09', 'ALMIRALL', '10,7900', '0,56', '10,8300', '10,6700', '53.716', '579,69', '02/12/2021', '09:43:03', 'AMADEUS', '57,5800', '-1,44', '57,9400', '57,1800', '98.955', '5.700,88', '02/12/2021', '09:47:48', 'ARCELORMIT.', '24,6600', '-0,12', '24,7200', '24,0350', '122.801', '2.992,57', '02/12/2021', '09:47:56', 'B.SANTANDER', '2,7855', '-1,29', '2,7905', '2,7620', '6.227.744', '17.276,85', '02/12/2021', '09:47:56', 'BA.SABADELL', '0,5964', '-0,77', '0,5992', '0,5900', '2.764.420', '1.642,50', '02/12/2021', '09:47:56', 'BANKINTER', '4,3570', '-0,86', '4,3730', '4,3250', '171.553', '747,12', '02/12/2021', '09:47:54', 'BBVA', '4,7600', '-1,19', '4,7660', '4,7200', '5.799.119', '27.586,72', '02/12/2021', '09:47:53', 'CAIXABANK', '2,3030', '-0,86', '2,3070', '2,2760', '1.065.024', '2.441,35', '02/12/2021', '09:47:31', 'CELLNEX', '51,6600', '-0,73', '52,2000', '51,4000', '55.096', '2.852,35', '02/12/2021', '09:47:34', 'CIE AUTOMOT.', '25,3000', '0,24', '25,3800', '24,9000', '16.097', '405,99', '02/12/2021', '09:45:39', 'ENAGAS', '20,0200', '-0,89', '20,1900', '19,9800', '58.508', '1.175,15', '02/12/2021', '09:45:01', 'ENDESA', '19,5700', '-2,05', '19,8500', '19,5250', '55.331', '1.088,96', '02/12/2021', '09:45:42', 'FERROVIAL', '25,6600', '0,90', '25,6900', '25,0800', '140.250', '3.565,60', '02/12/2021', '09:47:56', 'FLUIDRA', '34,2000', '-0,29', '34,2500', '33,8000', '28.262', '962,56', '02/12/2021', '09:47:58', 'GRIFOLS CL.A', '15,7250', '-0,85', '15,8750', '15,6700', '103.163', '1.627,83', '02/12/2021', '09:48:00', 'IAG', '1,5475', '-0,55', '1,5565', '1,5205', '3.447.973', '5.299,06', '02/12/2021', '09:47:59', 'IBERDROLA', '9,8080', '-2,50', '9,9200', '9,7780', '1.548.381', '15.234,04', '02/12/2021', '09:47:57', 'INDITEX', '28,7800', '-1,13', '28,8300', '28,5100', '343.260', '9.850,82', '02/12/2021', '09:47:54', 'INDRA A', '10,1800', '-0,20', '10,1900', '10,1000', '64.940', '659,05', '02/12/2021', '09:46:01', 'INM.COLONIAL', '7,8200', '-0,89', '7,8750', '7,7850', '34.451', '269,78', '02/12/2021', '09:47:38', 'MAPFRE', '1,8255', '-0,57', '1,8275', '1,8105', '264.523', '481,29', '02/12/2021', '09:47:42', 'MELIA HOTELS', '5,6420', '-0,49', '5,6720', '5,5160', '181.305', '1.017,23', '02/12/2021', '09:47:56', 'MERLIN', '9,4960', '-1,88', '9,6720', '9,4700', '88.160', '842,52', '02/12/2021', '09:47:01', 'NATURGY', '24,2500', '-1,26', '24,4400', '24,2000', '39.809', '968,73', '02/12/2021', '09:46:51', 'PHARMA MAR', '56,5200', '-1,05', '56,7800', '56,0400', '6.514', '367,12', '02/12/2021', '09:47:07', 'R.E.C.', '18,4250', '-1,50', '18,7200', '18,3950', '94.133', '1.746,66', '02/12/2021', '09:46:06', 'REPSOL', '10,0600', '0,40', '10,0800', '9,8820', '674.265', '6.743,82', '02/12/2021', '09:47:56', 'SIEMENS GAME', '22,0500', '-3,29', '22,6000', '21,8600', '178.693', '3.954,17', '02/12/2021', '09:47:33', 'SOLARIA', '16,1400', '-3,67', '16,5000', '15,9900', '210.021', '3.392,79', '02/12/2021', '09:47:56', 'TELEFONICA', '3,7380', '-2,66', '3,7975', '3,7350', '3.678.216', '13.811,93', '02/12/2021', '09:47:58', 'VISCOFAN', '56,1500', '-0,62', '56,3000', '55,8500', '5.874', '329,79', '02/12/2021', '09:47:48']

In [28]:
# Creating an empty dictionary 

data = {}

In [29]:
# Chosing 1 element for each column

for i in range(9):
    data[columns[i]]=results[i::9]

In [30]:
# Creating dataframe

df3= pd.DataFrame(data)

In [31]:
df3

,Nombre,Últ.,% Dif.,Máx.,Mín.,Volumen,Efectivo (miles €),Fecha,Hora
0,ACCIONA,"157,1000","-1,50","159,7000","156,7000",5.315,"837,92",02/12/2021,09:45:38
1,ACERINOX,"10,0500","0,15","10,0600","9,8700",108.945,"1.085,90",02/12/2021,09:48:00
2,ACS,"21,3700","-1,29","21,4200","21,1400",57.281,"1.221,23",02/12/2021,09:47:21
3,AENA,"130,4500","-1,73","131,3500","129,9000",8.219,"1.075,52",02/12/2021,09:46:09
4,ALMIRALL,"10,7900","0,56","10,8300","10,6700",53.716,"579,69",02/12/2021,09:43:03
5,AMADEUS,"57,5800","-1,44","57,9400","57,1800",98.955,"5.700,88",02/12/2021,09:47:48
6,ARCELORMIT.,"24,6600","-0,12","24,7200","24,0350",122.801,"2.992,57",02/12/2021,09:47:56
7,B.SANTANDER,"2,7855","-1,29","2,7905","2,7620",6.227.744,"17.276,85",02/12/2021,09:47:56
8,BA.SABADELL,"0,5964","-0,77","0,5992","0,5900",2.764.420,"1.642,50",02/12/2021,09:47:56
9,BANKINTER,"4,3570","-0,86","4,3730","4,3250",171.553,"747,12",02/12/2021,09:47:54
10,BBVA,"4,7600","-1,19","4,7660","4,7200",5.799.119,"27.586,72",02/12/2021,09:47:53
11,CAIXABANK,"2,3030","-0,86","2,3070","2,2760",1.065.024,"2.441,35",02/12/2021,09:47:31
12,CELLNEX,"51,6600","-0,73","52,2000","51,4000",55.096,"2.852,35",02/12/2021,09:47:34
13,CIE AUTOMOT.,"25,3000","0,24","25,3800","24,9000",16.097,"405,99",02/12/2021,09:45:39
14,ENAGAS,"20,0200","-0,89","20,1900","19,9800",58.508,"1.175,15",02/12/2021,09:45:01
15,ENDESA,"19,5700","-2,05","19,8500","19,5250",55.331,"1.088,96",02/12/2021,09:45:42
16,FERROVIAL,"25,6600","0,90","25,6900","25,0800",140.250,"3.565,60",02/12/2021,09:47:56
17,FLUIDRA,"34,2000","-0,29","34,2500","33,8000",28.262,"962,56",02/12/2021,09:47:58
18,GRIFOLS CL.A,"15,7250","-0,85","15,8750","15,6700",103.163,"1.627,83",02/12/2021,09:48:00
19,IAG,"1,5475","-0,55","1,5565","1,5205",3.447.973,"5.299,06",02/12/2021,09:47:59
20,IBERDROLA,"9,8080","-2,50","9,9200","9,7780",1.548.381,"15.234,04",02/12/2021,09:47:57
21,INDITEX,"28,7800","-1,13","28,8300","28,5100",343.260,"9.850,82",02/12/2021,09:47:54
22,INDRA A,"10,1800","-0,20","10,1900","10,1000",64.940,"659,05",02/12/2021,09:46:01
23,INM.COLONIAL,"7,8200","-0,89","7,8750","7,7850",34.451,"269,78",02/12/2021,09:47:38
24,MAPFRE,"1,8255","-0,57","1,8275","1,8105",264.523,"481,29",02/12/2021,09:47:42
25,MELIA HOTELS,"5,6420","-0,49","5,6720","5,5160",181.305,"1.017,23",02/12/2021,09:47:56
26,MERLIN,"9,4960","-1,88","9,6720","9,4700",88.160,"842,52",02/12/2021,09:47:01
27,NATURGY,"24,2500","-1,26","24,4400","24,2000",39.809,"968,73",02/12/2021,09:46:51
28,PHARMA MAR,"56,5200","-1,05","56,7800","56,0400",6.514,"367,12",02/12/2021,09:47:07
29,R.E.C.,"18,4250","-1,50","18,7200","18,3950",94.133,"1.746,66",02/12/2021,09:46:06
30,REPSOL,"10,0600","0,40","10,0800","9,8820",674.265,"6.743,82",02/12/2021,09:47:56
31,SIEMENS GAME,"22,0500","-3,29","22,6000","21,8600",178.693,"3.954,17",02/12/2021,09:47:33
32,SOLARIA,"16,1400","-3,67","16,5000","15,9900",210.021,"3.392,79",02/12/2021,09:47:56
33,TELEFONICA,"3,7380","-2,66","3,7975","3,7350",3.678.216,"13.811,93",02/12/2021,09:47:58
34,VISCOFAN,"56,1500","-0,62","56,3000","55,8500",5.874,"329,79",02/12/2021,09:47:48

In [32]:
# Saving data to csv

df3.to_csv('Shares_ibex_v3.csv')

In [33]:
# Closing and quitting

#driver.close()
#quit()

## Exercise 3

Document in a word your data set generated with the information that the different Kaggle files have.

In [34]:
import locale

In [35]:
from locale import atof

In [36]:
locale.setlocale(locale.LC_NUMERIC, '')

'Catalan_Spain.1252'

In [37]:
k=df3.copy()

In [38]:
# Tranforming string to float

k2=k.iloc[:,1:7].applymap(atof)

In [39]:
# Swaping transformed columns

kaggle = pd.concat([k2, k[k.columns.difference(k2.columns)]], axis=1)

In [40]:
kaggle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Últ.                35 non-null     float64
 1   % Dif.              35 non-null     float64
 2   Máx.                35 non-null     float64
 3   Mín.                35 non-null     float64
 4   Volumen             35 non-null     float64
 5   Efectivo (miles €)  35 non-null     float64
 6   Fecha               35 non-null     object
 7   Hora                35 non-null     object
 8   Nombre              35 non-null     object
dtypes: float64(6), object(3)
memory usage: 2.6+ KB

In [41]:
# Changing order of columns

kaggle= kaggle[['Nombre', 'Últ.', '% Dif.', 'Máx.', 'Mín.', 'Volumen', 'Efectivo (miles €)', 'Fecha', 'Hora']]

In [42]:
kaggle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nombre              35 non-null     object
 1   Últ.                35 non-null     float64
 2   % Dif.              35 non-null     float64
 3   Máx.                35 non-null     float64
 4   Mín.                35 non-null     float64
 5   Volumen             35 non-null     float64
 6   Efectivo (miles €)  35 non-null     float64
 7   Fecha               35 non-null     object
 8   Hora                35 non-null     object
dtypes: float64(6), object(3)
memory usage: 2.6+ KB

In [43]:
# Changing name of columns

kaggle.columns=['Company', 'Last', '% Dif.','Max','Min','Volumen','000 euros','Date','Hour' ]

In [44]:
kaggle

,Company,Last,% Dif.,Max,Min,Volumen,000 euros,Date,Hour
0,ACCIONA,157.1000,-1.50,159.7000,156.7000,5315.0,837.92,02/12/2021,09:45:38
1,ACERINOX,10.0500,0.15,10.0600,9.8700,108945.0,1085.90,02/12/2021,09:48:00
2,ACS,21.3700,-1.29,21.4200,21.1400,57281.0,1221.23,02/12/2021,09:47:21
3,AENA,130.4500,-1.73,131.3500,129.9000,8219.0,1075.52,02/12/2021,09:46:09
4,ALMIRALL,10.7900,0.56,10.8300,10.6700,53716.0,579.69,02/12/2021,09:43:03
5,AMADEUS,57.5800,-1.44,57.9400,57.1800,98955.0,5700.88,02/12/2021,09:47:48
6,ARCELORMIT.,24.6600,-0.12,24.7200,24.0350,122801.0,2992.57,02/12/2021,09:47:56
7,B.SANTANDER,2.7855,-1.29,2.7905,2.7620,6227744.0,17276.85,02/12/2021,09:47:56
8,BA.SABADELL,0.5964,-0.77,0.5992,0.5900,2764420.0,1642.50,02/12/2021,09:47:56
9,BANKINTER,4.3570,-0.86,4.3730,4.3250,171553.0,747.12,02/12/2021,09:47:54
10,BBVA,4.7600,-1.19,4.7660,4.7200,5799119.0,27586.72,02/12/2021,09:47:53
11,CAIXABANK,2.3030,-0.86,2.3070,2.2760,1065024.0,2441.35,02/12/2021,09:47:31
12,CELLNEX,51.6600,-0.73,52.2000,51.4000,55096.0,2852.35,02/12/2021,09:47:34
13,CIE AUTOMOT.,25.3000,0.24,25.3800,24.9000,16097.0,405.99,02/12/2021,09:45:39
14,ENAGAS,20.0200,-0.89,20.1900,19.9800,58508.0,1175.15,02/12/2021,09:45:01
15,ENDESA,19.5700,-2.05,19.8500,19.5250,55331.0,1088.96,02/12/2021,09:45:42
16,FERROVIAL,25.6600,0.90,25.6900,25.0800,140250.0,3565.60,02/12/2021,09:47:56
17,FLUIDRA,34.2000,-0.29,34.2500,33.8000,28262.0,962.56,02/12/2021,09:47:58
18,GRIFOLS CL.A,15.7250,-0.85,15.8750,15.6700,103163.0,1627.83,02/12/2021,09:48:00
19,IAG,1.5475,-0.55,1.5565,1.5205,3447973.0,5299.06,02/12/2021,09:47:59
20,IBERDROLA,9.8080,-2.50,9.9200,9.7780,1548381.0,15234.04,02/12/2021,09:47:57
21,INDITEX,28.7800,-1.13,28.8300,28.5100,343260.0,9850.82,02/12/2021,09:47:54
22,INDRA A,10.1800,-0.20,10.1900,10.1000,64940.0,659.05,02/12/2021,09:46:01
23,INM.COLONIAL,7.8200,-0.89,7.8750,7.7850,34451.0,269.78,02/12/2021,09:47:38
24,MAPFRE,1.8255,-0.57,1.8275,1.8105,264523.0,481.29,02/12/2021,09:47:42
25,MELIA HOTELS,5.6420,-0.49,5.6720,5.5160,181305.0,1017.23,02/12/2021,09:47:56
26,MERLIN,9.4960,-1.88,9.6720,9.4700,88160.0,842.52,02/12/2021,09:47:01
27,NATURGY,24.2500,-1.26,24.4400,24.2000,39809.0,968.73,02/12/2021,09:46:51
28,PHARMA MAR,56.5200,-1.05,56.7800,56.0400,6514.0,367.12,02/12/2021,09:47:07
29,R.E.C.,18.4250,-1.50,18.7200,18.3950,94133.0,1746.66,02/12/2021,09:46:06
30,REPSOL,10.0600,0.40,10.0800,9.8820,674265.0,6743.82,02/12/2021,09:47:56
31,SIEMENS GAME,22.0500,-3.29,22.6000,21.8600,178693.0,3954.17,02/12/2021,09:47:33
32,SOLARIA,16.1400,-3.67,16.5000,15.9900,210021.0,3392.79,02/12/2021,09:47:56
33,TELEFONICA,3.7380,-2.66,3.7975,3.7350,3678216.0,13811.93,02/12/2021,09:47:58
34,VISCOFAN,56.1500,-0.62,56.3000,55.8500,5874.0,329.79,02/12/2021,09:47:48

In [45]:
# Changing to category data

kaggle.Company=kaggle.Company.astype('category')

In [46]:
# Changing to data category

kaggle.Date=kaggle.Date.apply(pd.to_datetime, errors='coerce')

In [47]:
kaggle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Company    35 non-null     category
 1   Last       35 non-null     float64
 2   % Dif.     35 non-null     float64
 3   Max        35 non-null     float64
 4   Min        35 non-null     float64
 5   Volumen    35 non-null     float64
 6   000 euros  35 non-null     float64
 7   Date       35 non-null     datetime64[ns]
 8   Hour       35 non-null     object
dtypes: category(1), datetime64[ns](1), float64(6), object(1)
memory usage: 3.7+ KB

In [48]:
kaggle.describe()

,Last,% Dif.,Max,Min,Volumen,000 euros
count,35.000000,35.000000,35.000000,35.000000,3.500000e+01,35.000000
mean,25.753397,-1.024857,25.972891,25.570429,7.942948e+05,3995.299714
std,33.719769,1.007873,34.114864,33.601820,1.607088e+06,5967.639123
min,0.596400,-3.670000,0.599200,0.590000,5.315000e+03,269.780000
25%,6.731000,-1.470000,6.773500,6.650500,5.440600e+04,840.220000
50%,16.140000,-0.890000,16.500000,15.990000,1.031630e+05,1221.230000
75%,25.480000,-0.520000,25.535000,24.990000,3.038915e+05,3759.885000
max,157.100000,0.900000,159.700000,156.700000,6.227744e+06,27586.720000

In [49]:
# Saving data to csv

kaggle.to_csv('Shares_ibex_v_def.csv')

## Exercise 3

Choose a web page you want and perform web scraping using the Scrapy library.

Example 1

#### After stalling Scrapy I start Scrapy shell in the Anaconda Prompt


(base) C:\Users\jmane>**scrapy shell**
2021-12-01 09:24:43 [scrapy.utils.log] INFO: Scrapy 2.5.1 started (bot: scrapybot)
2021-12-01 09:24:43 [scrapy.utils.log] INFO: Versions: lxml 4.6.3.0, libxml2 2.9.12, cssselect 1.1.0, parsel 1.6.0, w3lib 1.22.0, Twisted 21.7.0, Python 3.8.12 (default, Oct 12 2021, 03:01:40) [MSC v.1916 64 bit (AMD64)], pyOpenSSL 21.0.0 (OpenSSL 1.1.1l  24 Aug 2021), cryptography 3.4.8, Platform Windows-10-10.0.19042-SP0
2021-12-01 09:24:43 [scrapy.utils.log] DEBUG: Using reactor: twisted.internet.selectreactor.SelectReactor
2021-12-01 09:24:43 [scrapy.crawler] INFO: Overridden settings:
{'DUPEFILTER_CLASS': 'scrapy.dupefilters.BaseDupeFilter',
 'LOGSTATS_INTERVAL': 0}
2021-12-01 09:24:43 [scrapy.extensions.telnet] INFO: Telnet Password: 3f8cc9f063642140
2021-12-01 09:24:43 [scrapy.middleware] INFO: Enabled extensions:
['scrapy.extensions.corestats.CoreStats', (...)

#### Fetch, view and print ulr

In [1]: **fetch**('https://blocs.mesvilaweb.cat/jmateuimarti/murmuri-nocturn/')
2021-12-01 09:28:40 [scrapy.core.engine] INFO: Spider opened
2021-12-01 09:28:40 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://blocs.mesvilaweb.cat/jmateuimarti/murmuri-nocturn/> (referer: None)

In [2]: **view(response)**
Out[2]: True

In [3]: **print(response.text)**
<!DOCTYPE html>
<html lang="ca">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="profile" href="http://gmpg.org/xfn/11">
        <title>MURMURI NOCTURN &#x2d; marginàlies</title>

<!-- The SEO Framework by Sybre Waaijer -->
<meta name="robots" content="max-snippet:-1,max-image-preview:standard,max-video-preview:-1" />
<meta name="description" content="Els fanals confonen la nit amb la fosca i per aix&ograve; es temperen com les consci&egrave;ncies dels opulents i no tresquen ni ballen com reclamen els ulls clucs del dia&#8230;" />
<meta property="

#### Look for text of article of interest and extract it

In [11]: **response.xpath("//*[@id='page']/div/div/div[1]/div[3]/div/div[1]/div[1]/div[4]/p/text()").extract()**
Out[11]: ['Els fanals confonen la nit amb la fosca i per això es temperen com les consciències dels opulents i no tresquen ni ballen com reclamen els ulls clucs del dia: delimiten el que abasten i es despreocupen de la fressa de la nit i de les seves fretures. Ignoren com els amants que a la nit no li calen imaginàries ni vigilants del temor, car no amaga res, la nit, ho mostra tot perquè se’n faci càrrec el tacte, l’avançada de l’esgarrifança que t’adverteix que no és només de dia que viuen els ventres i els vocabularis. La fosca, en canvi, s’aprofita de la nit, la parasita per distreure la seva malaptesa a tractar el cos que es retreu, la veu que es fa instrument de vent o de pell fregada.']

In [50]:
from scrapy import Selector

Example 2

In [51]:
url ='https://blocs.mesvilaweb.cat/jmateuimarti/murmuri-nocturn/'

In [52]:
# llegim la pagina web i guardem en contingut HTML
html = requests.get(url).content

In [53]:
# parsegem el contingut HTML amb la llibreria Selector de scrapy
sel = Selector (text = html)

In [54]:
# seleccionem dins la divisio que te la clase anomenada "header-menu" tots els hyperlinks
art = sel.xpath ('//*[@id="page"]/div/div/div[1]/div[3]/div/div[1]/div[1]/div[4]/p/text()').extract()
art

['Els fanals confonen la nit amb la fosca i per això es temperen com les consciències dels opulents i no tresquen ni ballen com reclamen els ulls clucs del dia: delimiten el que abasten i es despreocupen de la fressa de la nit i de les seves fretures. Ignoren com els amants que a la nit no li calen imaginàries ni vigilants del temor, car no amaga res, la nit, ho mostra tot perquè se’n faci càrrec el tacte, l’avançada de l’esgarrifança que t’adverteix que no és només de dia que viuen els ventres i els vocabularis. La fosca, en canvi, s’aprofita de la nit, la parasita per distreure la seva malaptesa a tractar el cos que es retreu, la veu que es fa instrument de vent o de pell fregada.']

Example 3

In [55]:
url2 ='https://www.barcelona.cat/infobarcelona/ca/medalles-dhonor-a-la-lluita-ciutadana-contra-la-covid-19-3-4_1125086.html'

In [56]:
html2 = requests.get(url2).content

In [57]:
sel2 = Selector (text = html2)

In [58]:
art2 = sel2.xpath ('//*[@id="header-page"]/div[1]/strong/text()').extract()
art2

['Les medalles d’honor de la ciutat tornen a reconèixer la tasca desenvolupada per entitats, col·lectius i persones per fer front a les dificultats derivades del context sanitari viscut durant aquest 2021. També reconeixen les tasques en altres àmbits com la lluita contra la violència masclista, el comerç de proximitat, la cultura, l’activisme veïnal, l’esport i la defensa dels drets de les persones. De les 25 medalles, 20 han estat concedides a proposta dels consells de Districte.']